@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

header {
  padding: 20px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

main {
  padding: 40px;
}

header span {
  font-size: 1.2em;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}

nav a {
  color: #333333;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
}

.home-container {
  display: flex;
  padding: 1em;
  gap: 2em;
  height: 87vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container h1 {
  color: #333333;
  font-size: 3.5em;
}

.home-container p {
  color: #333333;
  font-size: 1.2em;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 3em;
}

button {
  cursor: pointer;
  display: inline-block;
  background: #fbca1f;
  color: #333333;
  padding: 0.5em 1em;
  font-weight: 600;
  font-size: 1.2em;
  border: none;
  border-radius: 0.4em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.about-container {
  display: flex;
  padding: 1em;
  gap: 2em;
  justify-content: center;
}

.about-container div {
  width: 50%;
}

.skills li {
  display: inline-block;
  background-color: #fbca1f;
  color: #333333;
  font-weight: 600;
  margin-right: 10px;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.about-container h2 {
  color: #333333;
  font-size: 2.2em;
  margin: 20px 0;
}

.about-container p {
  color: #333333;
  line-height: 1.5em;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.projects-container {
  padding: 0 40px;
}

.projects-container h1 {
  text-align: center;
  color: #333333;
  font-size: 2.5em;
  margin: 40px 0;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-between;
}

.card {
  position: relative;
  border-radius: 20px;
  object-fit: contain;
  box-shadow: 0 0 15px rgba(68, 67, 21, 0.4);
  overflow: hidden;
  transition: ease 0.2s;
}

.card .overlay {
  display: none;
}

.card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.card .links {
  display: none;
}

.card:hover .links {
  font-family: inherit;
  display: flex;
  gap: 2em;
  position: absolute;
  top: 50%;
  left: 30%;
  justify-content: center;
  z-index: 3;
}

.card a {
  display: inline-block;
  background-color: #fbca1f;
  color: #333333;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: 600;
  border-radius: 0.2em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.card .title {
  background-color: #fbca1f;
  color: #333333;
  text-align: center;
  line-height: 1.5em;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0.2em;
}

.image-container {
  width: 550px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* projects covers */

#project-1 {
  background-image: url("./assets/images/01-streetstyle.png");
}

#project-2 {
  background-image: url("./assets/images/02-restaurant\ page.png");
}

#project-3 {
  background-image: url("./assets/images/03-LawLandingpage.png");
}

#project-4 {
  background-image: url("./assets/images/04-digital\ marketing.png");
}

#project-5 {
  background-image: url("./assets/images/05-Cryptolanding.png");
}

#project-6 {
  background-image: url("./assets/images/06-Plant-Homepage.png");
}

#project-7 {
  background-image: url("./assets/images/07-Productlanding.png");
}

#project-8 {
  background-image: url("./assets/images/08-webhomepage.png");
}

#project-9 {
  background: url("./assets/images/09-webhomepage.png");
}

#project-10 {
  background: url("./assets/images/10-Interior\ design.png");
}

#project-11 {
  background-image: url("./assets/images/11-businesslanding\ page.png");
}

#project-12 {
  background-image: url("./assets/images/12-Hosting\ landing\ page.png");
}

#project-13 {
  background-image: url("./assets/images/13-SAAS\ landing.png");
}

#project-14 {
  background-image: url("./assets/images/14-Dancing.png");
}

#project-15 {
  background-image: url("./assets/images/15-visual\ designer.png");
}
